.row.mt-5
  .col
    %h1.display-3 Exercises
  - if user_signed_in?
    .col-auto.align-self-center= link_to "New Exercise", new_exercise_path, class: "btn btn-primary"
  
%ul.list-group.mt-3
  - @exercises.each do |exercise|
    %li.list-group-item
      .row
        = render exercise